body {
    background-color: LightSalmon
}
h1 {
    text-align: center
}
h2 {
    text-align: center
}
h3 {
    text-align: left
}
p {
    text-align: left
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
div {
    border: 2px solid black;
    text-align: left;
}
img {
    max-width: 100%;
}
u.hover {
    border-bottom: 1.5px dashed black;
    text-decoration: none;
}
input[type='radio'] {
    transform: scale(1.25)
}
input[type='checkbox'] {
    transform: scale(1.25)
}
.mybutton {
    
}
#single_question {
    height: 20px;
    width: 100px;
}
#full_quiz {
    height: 30px;
    width: 300px;
}
div#progressbar {
    height: 10px;
    width: 200px;
}
div#progressbarinner {
    height: 6px;
    width: 0px;
    background-color: black;
}
